apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: infrastructure
spec:
  type: ClusterIP
  selector:
    postgresql: postgres-cluster
  ports:
    - port: 5432
      targetPort: 5432