apiVersion: v1
kind: Service
metadata:
  name: clickhouse
  namespace: infrastructure
spec:
  type: ClusterIP
  selector:
    clickhouse.altinity.com/chi: clickhouse-cluster
  ports:
    - name: http
      port: 8123
      targetPort: 8123
    - name: tcp
      port: 9000
      targetPort: 9000