apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-commander
  namespace: ui-tools
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-commander
  template:
    metadata:
      labels:
        app: redis-commander
    spec:
      containers:
        - name: redis-commander
          image: rediscommander/redis-commander
          env:
            - name: REDIS_HOSTS
              value: "local:redis.infrastructure:6379"
          ports:
            - containerPort: 8081