apiVersion: v1
kind: Service
metadata:
  name: redis-commander
  namespace: ui-tools
spec:
  type: NodePort
  selector:
    app: redis-commander
  ports:
    - port: 8081
      targetPort: 8081
      nodePort: 30081